import { useState, useEffect } from 'react';

function {{pascalCase name}}(){
	const [value, setValue] = useState(null);
	
	useEffect(() => {
	
	}, []);
	
	return <h1>{{pascalCase name}}</h1>;
}

export default {{pascalCase name}}